
header{
  position: relative;
  width: 100%;
  z-index: 5;
  font-size: 12px;
  @media #{$large-up}{
    font-size: 20px;
  }
  .row{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $header-height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$large-up}{

      justify-content: space-between;
      min-height: $header-height-desktop;
    }
    .logo{
      //@include upToLarge{
      //  max-width: 40%;
      //  max-height: 100%;
      //  height: 10.27vw;
      //  height: $header-height;
      //}
      max-width: 40%;
      max-height: 100%;
      height: $header-height;
      margin-right: auto;

      @media #{$large-up}{
        max-width: none;
        height: auto;
        max-height: 92px;
        padding: 15px 0;
        margin: 0;
      }
      img{
        //width: ;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .big-title{
      filter: blur(1px);
      color: #e1eef6;
      text-shadow: -1px -1px green, -2px -3px red;
      display: none;
      @media #{$large-up}{
        display: block;
      }
    }
    .cart, .music{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      font-size: inherit;
      p {
        font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
        color: #e1eef6;
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: inherit;
        line-height: 1em;
        span{
          font-family: inherit;
          font-size: inherit;
          line-height: 1em;
          position: relative;
          top: 0.05em;
          &.badge{
            top:0;
            height: 1em;
            width: calc(1em + 1px);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjI2NjYgNC41VjEwLjVIMTQuNTE2NlYxMkgxMy43NjY2VjEyLjc1SDEzLjAxNjZWMTMuNUgxMi4yNjY2VjE0LjI1SDEwLjc2NjZWMTVINC43NjY2VjE0LjI1SDMuMjY2NlYxMy41SDIuNTE2NlYxMi43NUgxLjc2NjZWMTJIMS4wMTY2VjEwLjVIMC4yNjY2MDJWNC41SDEuMDE2NlYzSDEuNzY2NlYyLjI1SDIuNTE2NlYxLjVIMy4yNjY2VjAuNzVINC43NjY2VjBIMTAuNzY2NlYwLjc1SDEyLjI2NjZWMS41SDEzLjAxNjZWMi4yNUgxMy43NjY2VjNIMTQuNTE2NlY0LjVIMTUuMjY2NlpNMTIuMjY2NiAzLjc1VjNIMTEuNTE2NlYyLjI1SDEwLjAxNjZWMS41SDUuNTE2NlYyLjI1SDQuMDE2NlYzSDMuMjY2NlYzLjc1SDIuNTE2NlY1LjI1SDEuNzY2NlY5Ljc1SDIuNTE2NlYxMS4yNUgzLjI2NjZWMTJINC4wMTY2VjEyLjc1SDUuNTE2NlYxMy41SDEwLjAxNjZWMTIuNzVIMTEuNTE2NlYxMkgxMi4yNjY2VjExLjI1SDEzLjAxNjZWOS43NUgxMy43NjY2VjUuMjVIMTMuMDE2NlYzLjc1SDEyLjI2NjZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .text{
              font-size: 0.6em;
              line-height: 0;
            }
          }
        }

      }


      .cart-open{
        opacity: 0;
        transition: all .3s ease-in-out;
      }
      .cart-close{
        position: absolute;
        top: 0;
        left: 0;
        //height: auto;
        width: 100%;
        transition: all .3s ease-in-out;
      }
      &[data-count="0"]{
        .cart-open{
          opacity: 1;
        }
        .cart-close{
          opacity: 0;
        }
      }

      img{
        height: calc(#{$header-height} - 1em);
        &.music-image{
          height: calc(calc(#{$header-height} - 1em) - 5px);
        }
        @media #{$large-up}{
          height: auto;
        }
      }
    }
    .music{
      margin-right: 24px;
      @media #{$large-up}{
        display: none;
      }
      p{
        margin-top: 5px;
      }
    }
  }
}