@import url(./fonts/stylesheet.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  background: #000;
  color: #e1eef6;
  max-width: 100vw;
  overflow-x: hidden;
  text-transform: uppercase;
}

body,
html {
  height: 100%;
  font-size: 14px;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

iframe {
  border: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner,
.btn::-moz-focus-inner,
.btn:focus {
  border-style: none;
  padding: 0;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
  border: 0px;
}

input[type="submit"]:focus, input[type="button"]:focus {
  outline: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

.mgb-0 {
  margin-bottom: 0 !important;
}

.pgr-0 {
  padding-right: 0 !important;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.center {
  text-align: center;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.page-id-5 h1 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}

.big-title {
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

h1, .h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
}

h2, .h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Terminal Grotesque', sans-serif;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #fff;
}

h3, .h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Terminal Grotesque', sans-serif;
  letter-spacing: -0.05em;
  line-height: 130%;
  color: #fff;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 100.0%;
  color: #fff;
}

h5 {
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  line-height: 100.0%;
  color: #fff;
}

h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 121%;
  color: #fff;
}

p, a, span, li {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Terminal Grotesque', sans-serif;
  letter-spacing: -0.05em;
  line-height: 130%;
  color: #fff;
}

.right-align {
  float: right;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

.page .content {
  height: 100%;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 993px) {
  .page .content {
    width: calc(100% - 240px);
  }
}

.page .menu {
  display: none;
  z-index: 100;
}

@media only screen and (min-width: 993px) {
  .page .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
  }
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.background .frame {
  width: 100%;
  height: 100%;
}

.background .frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: unset;
     object-fit: unset;
}

.screen-container {
  background-color: #e1eef6;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: ' ';
  overflow: hidden;
  background: #16222A;
  background: -webkit-gradient(linear, right top, left top, from(#16222A), to(#3A6073));
  background: linear-gradient(to left, #16222A, #3A6073);
  background-size: cover;
  background-image: url(https://cldup.com/gn3s3Fg75t.gif);
  color: #fff;
}

.screen-container::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.25);
  opacity: 0;
  z-index: 7;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

.screen-container.not-ready {
  opacity: 0 !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #607ca1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 10;
}

.preloader svg path {
  opacity: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.preloader svg path.brst {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.preloader.animated {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  background: #000;
}

.preloader.animated svg path {
  opacity: 1;
}

.preloader.hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu {
  background: #0b0e13;
  height: 100vh;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
  /* Allow .menu-links to take up maximum available height */
  width: 100%;
  overflow: hidden;
}

.menu .menu-links .menu-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  max-height: calc(25% - 30px);
}

.menu .menu-links .menu-links__item img {
  max-height: calc(100% - 30px);
  margin-bottom: 10px;
  mix-blend-mode: difference;
}

.menu .menu-links .menu-links__item span {
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #607CA1;
}

.menu .menu-controls {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.menu .menu-controls .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.menu .menu-controls .row svg {
  margin-right: 18px;
}

.menu .menu-controls .row .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 15px;
}

.menu .menu-controls .row .btn3d {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
}

.menu .menu-controls .row .btn3d.btn-play {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 5px 13px;
}

.menu .menu-controls .row .btn3d.btn-play .text {
  position: relative;
}

.menu .menu-controls .row .btn3d.btn-play svg {
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu .menu-controls .row .btn3d.btn-play svg.svg-play {
  opacity: 1;
}

.menu .menu-controls .row .btn3d.btn-play svg.svg-pause {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu .menu-controls .important-option > svg {
  z-index: 98;
}

.menu .menu-controls .important-option > .btn-container {
  z-index: 98;
}

.menu .menu-controls .important-option .media-modal {
  position: absolute;
  bottom: 0;
  left: -25px;
  padding: 34px 25px 23px;
  width: calc(100% + 50px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #607ca1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-filter: drop-shadow(0px 0px 30px #000000);
          filter: drop-shadow(0px 0px 30px #000000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.menu .menu-controls .important-option .media-modal.active {
  opacity: 1;
  pointer-events: all;
}

.menu .menu-controls .important-option .media-modal .close {
  position: absolute;
  top: 15px;
  right: 11px;
  cursor: pointer;
}

.menu .menu-controls .important-option .media-modal .row {
  z-index: 2;
  position: relative;
}

.menu .menu-controls .important-option .media-modal .row:last-child {
  margin: 0;
  opacity: 0;
  pointer-events: none;
}

.menu .menu-controls .important-option .media-modal .slider__nav {
  font-size: 20px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.menu .menu-controls .important-option .media-modal .slider__nav .text {
  position: relative;
  top: 2px;
}

.menu .menu-controls .important-option .media-modal .media-slider {
  margin-bottom: 22px;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-container {
  padding: 0 10px;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide .slider__image {
  margin-bottom: 7px;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide .slider__image {
  -webkit-transform: scale(0.47);
          transform: scale(0.47);
  opacity: 0.5;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide .slider__image img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: 2.5s discRotation infinite linear;
          animation: 2.5s discRotation infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide h2, .menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide .h2 {
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide.swiper-slide-next .slider__image {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide.swiper-slide-active .slider__image {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide.swiper-slide-active .slider__image img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide.swiper-slide-active h2, .menu .menu-controls .important-option .media-modal .media-slider .swiper-wrapper .swiper-slide.swiper-slide-active .h2 {
  opacity: 1;
}

.menu .menu-controls .important-option .media-modal audio {
  position: fixed;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  pointer-events: none;
}

.menu .menu-controls .important-option .media-modal.playing .btn-play .text .svg-play {
  opacity: 0;
}

.menu .menu-controls .important-option .media-modal.playing .btn-play .text .svg-pause {
  opacity: 1;
}

.menu .menu-controls .important-option .media-modal.playing .swiper-slide-active .slider__image img {
  -webkit-animation-play-state: running !important;
          animation-play-state: running !important;
}

.menu .copyright {
  color: #fff;
}

.menu .copyright a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}

.screen {
  padding: 80px 131px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: jerkup 0.07s infinite;
          animation: jerkup 0.07s infinite;
}

.screen .scrollable-mask {
  -webkit-mask-image: linear-gradient(180deg, transparent 75px, black 175px);
  mask-image: linear-gradient(180deg, transparent 75px, black 175px);
  mask-image: -moz-linear-gradient(top, transparent 75px, black 175px);
  height: 100%;
  max-height: 100%;
  position: relative;
}

.screen .scrollable-mask .masked-content {
  max-height: 100%;
  padding-top: 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 50px;
}

.screen .scrollable-mask .scrollable-content, .screen .scrollable-mask .horizontal-scroll {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Firefox */
  /* Chrome, Edge and Safari */
}

.screen .scrollable-mask .scrollable-content, .screen .scrollable-mask .horizontal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #FFFFFF4C;
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar {
  width: 8px;
  width: 8px;
  height: 8px;
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-track, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-track:hover, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-track:active, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-thumb, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFFFFF;
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-thumb:hover, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}

.screen .scrollable-mask .scrollable-content::-webkit-scrollbar-thumb:active, .screen .scrollable-mask .horizontal-scroll::-webkit-scrollbar-thumb:active {
  background-color: #FFFFFF;
}

.screen .scrollable-mask .horizontal-scroll {
  overflow-x: auto;
  padding-bottom: 20px;
}

.slider {
  max-width: 50%;
  color: #fff;
}

.slider .swiper-container {
  width: 100%;
  height: 100%;
}

.slider__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .slider__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .slider__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.slider__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-top: 24px;
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .slider__col {
    width: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-right: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
}

.slider__prev:focus, .slider__next:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
}

@media only screen and (min-width: 993px) {
  .slider__thumbs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
  }
}

.slider__thumbs .swiper-slide {
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  height: 0 !important;
  padding-top: 100%;
  position: relative;
}

.slider__thumbs .swiper-slide.swiper-slide-visible {
  opacity: 1;
}

.slider__thumbs .slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.slider__thumbs .slider__image:hover {
  opacity: 1;
}

.slider__thumbs .slider__image img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFFB2;
  border-radius: 2px;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.slider__images {
  height: 80vh;
  width: 50vw;
  max-width: 380px;
  -webkit-mask-image: linear-gradient(90deg, transparent 50px, black 80px, black calc(100% - 80px), transparent calc(100% - 50px));
  mask-image: linear-gradient(90deg, transparent 50px, black 80px, black calc(100% - 80px), transparent calc(100% - 50px));
  mask-image: -moz-linear-gradient(90deg, transparent 50px, black 80px, black calc(100% - 80px), transparent calc(100% - 50px));
  padding: 0 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 100%;
  height: 720px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .slider__images {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .slider__images {
    width: 100%;
  }
}

.slider__images .slider__image {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.slider__images .slider__image img {
  -webkit-transition: 3s;
  transition: 3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__images .slider__image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__images .swiper-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__images .slider__image:hover .glitch {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__images .slider__image .glitch {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: image_glitch;
  animation-name: image_glitch;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.slider__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.slider__nav {
  font-size: 30px;
  line-height: 100%;
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 28px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__nav .slider__prev,
.slider__nav .slider__next {
  width: 1em;
  height: 1em;
  background-image: url("../img/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__nav .slider__fraction {
  position: relative;
  top: 3px;
}

.slider__nav .slider__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 25px;
  color: #fff;
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
}

.select-styled {
  background-color: #fff0;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 42px 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:hover {
  background-color: transparent;
}

.select-styled:active, .select-styled.active {
  background-color: transparent;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border: 1px solid;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #fff;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-size: 25px;
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
}

.select-options li[rel="hide"] {
  display: none;
}

.select-options li:hover, .select-options li.is-selected {
  color: #ffffff;
  background: rgba(96, 124, 161, 0.69);
}

.btn.btn3d {
  position: relative;
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  padding: 8px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.btn.btn3d .background {
  position: absolute;
  /* display: block; */
  border-radius: 3px;
  z-index: -1;
}

.btn.btn3d .background .back {
  background: -webkit-gradient(linear, left top, left bottom, from(#607CA1), to(#0D2038));
  background: linear-gradient(180deg, #607CA1 0%, #0D2038 100%);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn.btn3d .background .front {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 124, 161, 0)), to(#0D2038));
  background: linear-gradient(180deg, rgba(96, 124, 161, 0) 0%, #0D2038 100%);
  -webkit-box-shadow: inset 0px -1px 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px -1px 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn.btn3d .text {
  color: #fff;
  position: relative;
}

.btn.btn3d:active .background .back, .btn.btn3d:focus .background .back, .btn.btn3d.pressed .background .back {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #394657;
  -webkit-filter: drop-shadow(0px 0px 11px #000000);
          filter: drop-shadow(0px 0px 11px #000000);
  border-radius: 3px;
}

.btn.btn3d:active .background .front, .btn.btn3d:focus .background .front, .btn.btn3d.pressed .background .front {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0D2038), to(#0D2038));
  background: linear-gradient(180deg, #0D2038 0%, #0D2038 100%);
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.back-button {
  font-size: 18px;
  opacity: 0.6;
  display: block;
  margin-bottom: 44px;
}

.back-button svg {
  height: 0.6em;
  width: auto;
  margin-right: 10px;
}

.back-button span {
  font-size: 18px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider-container {
  position: relative;
  width: 100%;
}

.slider-container label {
  position: fixed;
  top: -1000px;
  left: -1000px;
  height: 0;
  width: 0;
  opacity: 0;
}

.slider-container .bar {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: calc(100% - 2px);
  height: 27px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #394453;
  overflow: hidden;
}

.slider-container .bar .fill {
  display: block;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#607CA1), to(#122743));
  background: linear-gradient(180deg, #607CA1 0%, #122743 100%);
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.slider-container .bar .fill .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

.slider-container .notch {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider-container .notch::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  right: -1px;
  width: 1px;
  height: calc(100% - 15px);
  z-index: 4;
  background: red;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-container .slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 27px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: calc(27px + 8px);
  border: 1px solid #394453;
  background-color: #607CA1;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
          box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: relative;
  top: 1px;
  z-index: 2;
}

.message-container {
  position: absolute;
  bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
  z-index: 9;
}

.message-container.out-of-screen {
  z-index: 1234;
}

.message-container .message {
  padding: 17px 24px 17px 18px;
  position: relative;
  background: #000;
  -webkit-box-shadow: 0px 0px 21px #000000;
          box-shadow: 0px 0px 21px #000000;
  max-width: 17vw;
  cursor: pointer;
  margin-top: 20px;
}

.message-container .message * {
  pointer-events: none;
}

.message-container .message .close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.message-container .message .text {
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.message-container .message.INFO {
  background: #607CA1;
}

.message-container .message.ERROR {
  background: #a24646;
}

.message-container .message.SUCCESS {
  background: #5fa98d;
}

table {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}

table tr {
  height: 15vh;
}

table tr.heading-row {
  height: auto;
}

table tr.heading-row th .cell-content {
  height: auto;
}

table tr th, table tr td {
  padding: 14px 25px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

table tr th:last-child, table tr td:last-child {
  border-right: 0;
}

table tr th .cell-content, table tr td .cell-content {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

table tr th.item img, table tr td.item img {
  height: 100%;
  width: auto;
}

table tr th.size, table tr th.quantity, table tr th.price, table tr td.size, table tr td.quantity, table tr td.price {
  max-width: 111px;
}

table tr:last-child th, table tr:last-child td {
  border-bottom: none;
}

table.size-chart tr {
  height: auto;
}

table.size-chart tr th, table.size-chart tr td {
  white-space: nowrap;
}

table.size-chart tr th .cell-content, table.size-chart tr td .cell-content {
  height: auto;
}

header {
  position: relative;
  width: 100%;
  z-index: 5;
}

header .row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row .logo {
  padding: 15px 0;
}

header .row .big-title {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  color: #e1eef6;
  text-shadow: -1px -1px green, -2px -3px red;
}

header .row .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .row .cart p {
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
  color: #e1eef6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

header .row .cart p span {
  font-family: inherit;
}

header .row .cart p span.badge {
  position: relative;
  height: 1em;
  width: 1em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjI2NjYgNC41VjEwLjVIMTQuNTE2NlYxMkgxMy43NjY2VjEyLjc1SDEzLjAxNjZWMTMuNUgxMi4yNjY2VjE0LjI1SDEwLjc2NjZWMTVINC43NjY2VjE0LjI1SDMuMjY2NlYxMy41SDIuNTE2NlYxMi43NUgxLjc2NjZWMTJIMS4wMTY2VjEwLjVIMC4yNjY2MDJWNC41SDEuMDE2NlYzSDEuNzY2NlYyLjI1SDIuNTE2NlYxLjVIMy4yNjY2VjAuNzVINC43NjY2VjBIMTAuNzY2NlYwLjc1SDEyLjI2NjZWMS41SDEzLjAxNjZWMi4yNUgxMy43NjY2VjNIMTQuNTE2NlY0LjVIMTUuMjY2NlpNMTIuMjY2NiAzLjc1VjNIMTEuNTE2NlYyLjI1SDEwLjAxNjZWMS41SDUuNTE2NlYyLjI1SDQuMDE2NlYzSDMuMjY2NlYzLjc1SDIuNTE2NlY1LjI1SDEuNzY2NlY5Ljc1SDIuNTE2NlYxMS4yNUgzLjI2NjZWMTJINC4wMTY2VjEyLjc1SDUuNTE2NlYxMy41SDEwLjAxNjZWMTIuNzVIMTEuNTE2NlYxMkgxMi4yNjY2VjExLjI1SDEzLjAxNjZWOS43NUgxMy43NjY2VjUuMjVIMTMuMDE2NlYzLjc1SDEyLjI2NjZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row .cart p span.badge .text {
  font-size: 0.6em;
}

header .row .cart .cart-open {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .row .cart .cart-close {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .row .cart[data-count="0"] .cart-open {
  opacity: 1;
}

header .row .cart[data-count="0"] .cart-close {
  opacity: 0;
}

.screen-container .h-glitched {
  -webkit-animation: hard_glitch 1.5s infinite linear;
          animation: hard_glitch 1.5s infinite linear;
}

@-webkit-keyframes jerkup {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jerkup {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: .02795;
  }
  5% {
    opacity: .4421;
  }
  10% {
    opacity: .87898;
  }
  15% {
    opacity: .36995;
  }
  20% {
    opacity: .73915;
  }
  25% {
    opacity: .29696;
  }
  30% {
    opacity: .0971;
  }
  35% {
    opacity: .09559;
  }
  40% {
    opacity: .63891;
  }
  45% {
    opacity: .31371;
  }
  50% {
    opacity: .34936;
  }
  55% {
    opacity: .4326;
  }
  60% {
    opacity: .482;
  }
  65% {
    opacity: .90181;
  }
  70% {
    opacity: .38934;
  }
  75% {
    opacity: .24511;
  }
  80% {
    opacity: .1168;
  }
  85% {
    opacity: .84842;
  }
  90% {
    opacity: .47071;
  }
  95% {
    opacity: .69707;
  }
  100% {
    opacity: .30299;
  }
}

@keyframes flicker {
  0% {
    opacity: .02795;
  }
  5% {
    opacity: .4421;
  }
  10% {
    opacity: .87898;
  }
  15% {
    opacity: .36995;
  }
  20% {
    opacity: .73915;
  }
  25% {
    opacity: .29696;
  }
  30% {
    opacity: .0971;
  }
  35% {
    opacity: .09559;
  }
  40% {
    opacity: .63891;
  }
  45% {
    opacity: .31371;
  }
  50% {
    opacity: .34936;
  }
  55% {
    opacity: .4326;
  }
  60% {
    opacity: .482;
  }
  65% {
    opacity: .90181;
  }
  70% {
    opacity: .38934;
  }
  75% {
    opacity: .24511;
  }
  80% {
    opacity: .1168;
  }
  85% {
    opacity: .84842;
  }
  90% {
    opacity: .47071;
  }
  95% {
    opacity: .69707;
  }
  100% {
    opacity: .30299;
  }
}

@-webkit-keyframes hard_glitch {
  3% {
    text-shadow: 7px 7px 0 red;
  }
  6% {
    text-shadow: -9px 4px 0px blue;
    -webkit-transform: translate(4px, -10px) skewX(3240deg);
            transform: translate(4px, -10px) skewX(3240deg);
  }
  7% {
    text-shadow: 3px -4px 0px green;
  }
  9% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skewX(0deg);
            transform: translate(0px, 0px) skewX(0deg);
  }
  2%, 54% {
    -webkit-transform: translateX(0px) skew(0deg);
            transform: translateX(0px) skew(0deg);
  }
  55% {
    -webkit-transform: translate(-2px, 6px) skew(-5530deg);
            transform: translate(-2px, 6px) skew(-5530deg);
  }
  56% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
  57% {
    text-shadow: 7px 7px 0 red;
    -webkit-transform: translate(4px, -10px) skew(-70deg);
            transform: translate(4px, -10px) skew(-70deg);
  }
  58% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
  62% {
    text-shadow: 3px -4px 0px green;
    -webkit-transform: translate(0px, 20px) skew(0deg);
            transform: translate(0px, 20px) skew(0deg);
  }
  63% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(4px, -2px) skew(0deg);
            transform: translate(4px, -2px) skew(0deg);
  }
  64% {
    -webkit-transform: translate(1px, 3px) skew(-230deg);
            transform: translate(1px, 3px) skew(-230deg);
  }
  65% {
    -webkit-transform: translate(-7px, 2px) skew(120deg);
            transform: translate(-7px, 2px) skew(120deg);
  }
  66% {
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
}

@keyframes hard_glitch {
  3% {
    text-shadow: 7px 7px 0 red;
  }
  6% {
    text-shadow: -9px 4px 0px blue;
    -webkit-transform: translate(4px, -10px) skewX(3240deg);
            transform: translate(4px, -10px) skewX(3240deg);
  }
  7% {
    text-shadow: 3px -4px 0px green;
  }
  9% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skewX(0deg);
            transform: translate(0px, 0px) skewX(0deg);
  }
  2%, 54% {
    -webkit-transform: translateX(0px) skew(0deg);
            transform: translateX(0px) skew(0deg);
  }
  55% {
    -webkit-transform: translate(-2px, 6px) skew(-5530deg);
            transform: translate(-2px, 6px) skew(-5530deg);
  }
  56% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
  57% {
    text-shadow: 7px 7px 0 red;
    -webkit-transform: translate(4px, -10px) skew(-70deg);
            transform: translate(4px, -10px) skew(-70deg);
  }
  58% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
  62% {
    text-shadow: 3px -4px 0px green;
    -webkit-transform: translate(0px, 20px) skew(0deg);
            transform: translate(0px, 20px) skew(0deg);
  }
  63% {
    text-shadow: 0 0 3px white;
    -webkit-transform: translate(4px, -2px) skew(0deg);
            transform: translate(4px, -2px) skew(0deg);
  }
  64% {
    -webkit-transform: translate(1px, 3px) skew(-230deg);
            transform: translate(1px, 3px) skew(-230deg);
  }
  65% {
    -webkit-transform: translate(-7px, 2px) skew(120deg);
            transform: translate(-7px, 2px) skew(120deg);
  }
  66% {
    -webkit-transform: translate(0px, 0px) skew(0deg);
            transform: translate(0px, 0px) skew(0deg);
  }
}

@-webkit-keyframes image_glitch {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  6% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  8% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  9% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  13% {
    -webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  13.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  15% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  20% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  20.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  25% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  30% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  30.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  35% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  40% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  45% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  50% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  55% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  60% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  60.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
  to {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

@keyframes image_glitch {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  6% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  8% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  9% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  13% {
    -webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  13.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  15% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  20% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  20.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  25% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  30% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  30.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  35% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  40% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  45% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  50% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  55% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  60% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  60.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
  to {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

@-webkit-keyframes discRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes discRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% + 40px);
  max-height: calc(100%  + 40px);
  padding-bottom: 40px;
}

.product-page .slider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 993px) {
  .product-page .slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 0px);
            flex: 0 0 calc(50% - 0px);
  }
}

.product-page .scrollable-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 4;
  height: 100%;
}

@media only screen and (min-width: 993px) {
  .product-page .scrollable-content {
    padding-left: 50px;
    padding-top: 50px;
  }
}

.product-page .product-options .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-page .product-options__item {
  width: 61px;
  height: 35px;
  border: 1px solid #FFFFFF80;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 2px;
  margin-right: 10px;
}

.product-page .product-options__item.active {
  border: 1px solid #607CA1;
}

.product-page .product-options__item img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.product-page .product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page .product-actions input[type=submit] {
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  color: #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  cursor: pointer;
}

.lookbook .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lookbook__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 40px);
          flex: 0 0 calc(25% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  max-height: 155px;
}

.lookbook__item h3 {
  text-transform: uppercase;
  position: relative;
}

.lookbook__item img {
  width: 100%;
  height: auto;
  max-height: calc(100% - 20px);
  -o-object-fit: contain;
     object-fit: contain;
}

.lookbook__item .new {
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #607CA1;
  line-height: 130%;
  position: absolute;
  bottom: 1em;
  right: -1em;
}

.lookbook-slider .swiper-wrapper,
.products-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 42vh;
}

.lookbook-slider .slider__nav,
.products-slider .slider__nav {
  /*noinspection CssInvalidPropertyValue*/
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 45px;
}

.lookbook-slider .slider__nav .slider__prev, .lookbook-slider .slider__nav .slider__next,
.products-slider .slider__nav .slider__prev,
.products-slider .slider__nav .slider__next {
  margin: 0 30px;
}

.products-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0.6;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.products-slider .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.products-slider .text-content {
  text-align: center;
}

.about-page {
  padding-top: 25px;
  padding-right: 74px;
}

.about-page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-page .row section:first-child {
  margin-right: 20px;
}

.about-page section {
  margin-bottom: 48px;
}

.about-page section h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
  font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
}

.about-page section h2 span {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.about-page section .social-row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-page section .social-row a {
  margin-right: 20px;
  text-transform: uppercase;
}

.about-page section .social-row a .qr__generated {
  display: none;
}

.about-page section.working-hours p {
  white-space: nowrap;
}