.about-page {
  padding-top: 25px;
  padding-right: 74px;

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    section:first-child{
      margin-right: 20px;
    }
  }

  section {
    margin-bottom: 48px;

    h2 {
      display: flex;
      gap: 14px;
      margin-bottom: 20px;
      font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;

      span {
        font-size: inherit;
        font-family: inherit;

        line-height: inherit;
        font-weight: inherit;
      }
    }

    .social-row {
      flex-wrap: nowrap;
      justify-content: flex-start;
      a,p {
        margin-right: 20px;
        text-transform: uppercase;
      }
      .qr{
        position: relative;
        cursor: pointer;
        &__generated{
          $arrow-width: 18px;
          $arrow-height: 12px;  // Тут высота получается $arrow-width + $arrow-height / 2 -- среднее арифметическое
          position: absolute;
          width: 98px;
          height: 98px;
          left: 50%;
          top: calc(#{($arrow-width + $arrow-height) / 2}  * 2);
          transform: translateX(-50%);
          opacity: 0;
          pointer-events: none;
          transition: all .3s ease-in-out;
          &::after{
            content:" ";
            position: absolute;
            top: calc(#{($arrow-width + $arrow-height) / 2} * -2);
            left: 50%;
            transform: translateX(-50%);
            border: #{$arrow-width} solid transparent;
            border-bottom: #{$arrow-height} solid #607ca1;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          //display: none;
          &.active{
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
    &.working-hours{
      p{
        white-space: nowrap;
      }
    }
  }
}